#!/bin/sh

cd `dirname $0`/../..
NOW=$(date +"%Y-%m-%d %H:%M:%S")
HEADER="\
\n\
=====================\n\
admin_delete_datasets\n\
${NOW}\n\
====================="
echo -e "${HEADER}"
python ./scripts/cleanup_datasets/admin_cleanup_datasets.py \
	'{{ config_directory }}/galaxy.ini' \
	-d 90 \
	--tool_id=princeton_htseq \
	--template=./scripts/cleanup_datasets/admin_princeton_htseq_import_cleanup_email.txt
