#!/bin/bash

cd `dirname $0`/../..
NOW=$(date +"%Y-%m-%d %H:%M:%S")
HEADER="\
\n\
=============================\n\
delete_userless_histories.log\n\
${NOW}\n\
============================="
echo -e "${HEADER}"
python ./scripts/cleanup_datasets/cleanup_datasets.py '{{ config_directory }}/galaxy.ini' -d 10 -1 $@
