#!/bin/sh

cd `dirname $0`/../..
NOW=$(date +"%Y-%m-%d %H:%M:%S")
HEADER="\
\n\
==================\n\
purge_datasets.log\n\
${NOW}\n\
=================="
echo -e "${HEADER}"

python ./scripts/cleanup_datasets/cleanup_datasets.py '{{ config_directory }}/galaxy.ini' -d 10 -3 -r $@
