#!/bin/sh

cd `dirname $0`/../..
NOW=$(date +"%Y-%m-%d %H:%M:%S")
HEADER="\
\n\
=================\n\
purge_folders.log\n\
${NOW}\n\
================="
echo -e "${HEADER}"
python ./scripts/cleanup_datasets/cleanup_datasets.py '{{ config_directory }}/galaxy.ini' -d 10 -5 -r $@
