<!doctype html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="style/base.css" type="text/css"/>
		<style type="text/css">
			#diskspace-notice,
			#instructions,
			#maintenance-notice,
			#updates {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				padding-top: 0px;
			}

		</style>
		<title>Galaxy Data Analysis</title>
	</head>

	<body>
		<div class="document">
			<h1>Galaxy Data Analysis -
				<a target="_blank" href="http://www.princeton.edu/genomics">Lewis-Sigler Institute for Integrative Genomics</a>
			</h1>
			{% if env == 'development' %}
				<div class="errormessagelarge section" id="development-notice">
					<h1>DEVELOPMENT SERVER</h1>
					<h3>ALL DATA IS SUBJECT TO REMOVAL WITHOUT NOTICE!</h3>
				</div>
			{% endif %}

			<div class="donemessagelarge section" id="instructions">
				<h2>Getting Started with Galaxy</h2>

				<h3>
					<a target="_blank" href="https://galaxyproject.org/learn/">Learn Galaxy</a>
				</h3>
				<p>There are many approaches to learning how to use Galaxy. The most popular is
					probably to just dive in and use it. Galaxy is simple enough to use that you can
					do many analyses just by exploring the interface. However, you may miss much of
					the power this way.</p>

				<h3><a target="_parent" href="/tours">Interactive Tours</a></h3>
				<p>Select from basic and advanced tours to get an interactive walkthrough of many
					of Galaxy's features (and remember, you can click 'End Tour' at any
					time).</p>

				<h3>
					<a target="_blank" href="https://galaxyproject.github.io/training-material/">Galaxy Training</a>
				</h3>
				<p>Collection of tutorials developed and maintained by the worldwide Galaxy community.</p>

				<h3>Princeton Community</h3>
				<ul>
					<li>Join the
						<a target="_blank" href="https://sites.google.com/site/princetonhtseq/">Princeton HTSEQ Users Group</a>,
						discuss, present, and learn from other users in the Princeton research community</li>
					<li>Get expert advice from the
						<a target="_blank" href="http://www.princeton.edu/genomics/sequencing/">Lewis-Sigler Sequencing Core Facility</a>
					</li>
				</ul>
			</div>

			<div class="infomessagelarge section" id="updates">
				<h2>What's New</h2>
				<h3>
					<a
						target="_blank"
						href="https://docs.galaxyproject.org/en/master/releases/19.01_announce.html">Galaxy Release 19.01</a>
				</h3>
				<ul>
					<li>
						<strong>Revised UI Style</strong>
						<p>The Galaxy stylesheet has been substantially reworked resulting in the largest visual refresh
							to Galaxy in years.
						</p>
					</li>
					<li>
						<strong>More Colorful Tags</strong>
						<p>Use consistently hashed randomized colors for history dataset name tags to increase visual
							distinction between tags, making it easier to track data flow in complex histories. Thanks
							to <a href="https://github.com/erasche">@erasche</a>.
						</p>
					</li>
					<li>
						<strong>Extensive Workflow Enhancements (continued)</strong>
						<p>Galaxy 18.09 featured a bunch of important and diverse fixes and enhancements to workflows
							on both the frontend and backend. That progress continues in release 19.01.</p>
						<p>The workflow editor now features explicit step parameter nodes for non-file data (integers,
							strings, booleans, etc) and the ability to connect these to all tool inputs - not just files.
							The YAML-based Galaxy Format 2 workflow language is now included in Galaxy as a beta option
							and allows import and export of human readable workflows as well as extensions to allow Galaxy
							to serve as a file editor for such workflows. The workflow editor features more helpful labels
							on inputs and outputs and important fixes including logic for connecting collections and
							dealing with missing tools. The workflow run form now deals with default values more correctly.</p>
					</li>
				</ul>
			</div>

			<div class="errormessagelarge section" id="diskspace-notice">
				<h2>Disk Space is Limited</h2>
				<h3>Please delete datasets you no longer need to make room for others</h3>
				<p>By viewing your list of saved histories, you can see how much space each is
					taking up. Please delete any histories that you no longer need. Your cooperation
					is appreciated.
				</p>
				<h3>Data stored for more than 30 days may be deleted without notice.</h3>
			</div>

			<div class="warningmessagelarge section" id="maintenance-notice">
				<h2>Scheduled Maintenance</h2>
				<p>The Galaxy system will undergo scheduled maintenance on the first Monday of
					each month from 9am-12pm.</p>
			</div>

			<hr/>
			<p>The local instance of Galaxy at Princeton is funded in part by the
				<a
					target="_blank"
					href="http://www.nigms.nih.gov/News/Results/quantitative_bio_center.htm">
					National Institute of General Medical Sciences (NIGMS)</a>
				[
				<a target="_blank" href="http://www.nih.gov/">NIH</a>
				grant P50 GM071508].</p>
			<p>
				<a target="_blank" href="http://htseq.princeton.edu">HTSEQ</a>
				and this local Galaxy instance are projects within the
				<a target="_blank" href="http://www.genomics.princeton.edu">Lewis-Sigler Institute for Integrative Genomics</a>
				of
				<a target="_blank" href="http://www.princeton.edu/">Princeton University</a>.</p>
			<p>The Galaxy project is supported in part by
				<a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
				<a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>, and
				<a target="_blank" class="reference" href="http://www.huck.psu.edu">the Huck Institutes of the Life Sciences</a>.</p>
		</div>
	</body>

</html>