[server:web0]
use = egg:Paste#http
port = 8080
host = 127.0.0.1
use_threadpool = True
threadpool_workers = 10
threadpool_kill_thread_limit = 10800

[server:handler0]
use = egg:Paste#http
port = 8090
host = 127.0.0.1
use_threadpool = True
threadpool_workers = 10

[server:handler1]
use = egg:Paste#http
port = 8091
host = 127.0.0.1
use_threadpool = True
threadpool_workers = 10

[filter:gzip]
use = egg:Paste#gzip

[filter:proxy-prefix]
use = egg:PasteDeploy#prefix
prefix = /galaxy

[app:main]
paste.app_factory = galaxy.web.buildapp:app_factory
database_connection = postgresql://{{ database_user }}:{{ database_password }}@{{ database_location }}:{{ database_port }}/galaxy
database_engine_option_server_side_cursors = True
database_engine_option_strategy = threadlocal
file_path = {{ file_path }}
new_file_path = {{ new_file_path }}
tool_config_file = {{ config_directory }}/tool_conf.xml,{{ config_directory }}/shed_tool_conf.xml
integrated_tool_panel_config = config/integrated_tool_panel.xml
tool_dependency_dir = tool-dependencies
use_cached_dependency_manager = True
datatypes_config_file = config/datatypes_conf.xml.sample,config/datatypes_magenta_conf.xml
job_working_directory = {{ job_working_directory }}
smtp_server = smtp.princeton.edu
smtp_username = gensmtp
smtp_password = {{ smtp_password }}
error_email_to = biocomp@genomics.princeton.edu
email_from = biocomp@genomics.princeton.edu
ucsc_display_sites = main,test,archaea,ucla
gbrowse_display_sites = modencode,sgd_yeast,tair,wormbase,wormbase_ws120,wormbase_ws140,wormbase_ws170,wormbase_ws180,wormbase_ws190,wormbase_ws200,wormbase_ws204,wormbase_ws210,wormbase_ws220,wormbase_ws225
display_servers = hgw1.soe.ucsc.edu,hgw2.soe.ucsc.edu,hgw3.soe.ucsc.edu,hgw4.soe.ucsc.edu,hgw5.soe.ucsc.edu,hgw6.soe.ucsc.edu,hgw7.soe.ucsc.edu,hgw8.soe.ucsc.edu,lowepub.soe.ucsc.edu
use_nglims = False
nglims_config_file = tool-data/nglims.yaml
brand = Princeton Genomics
support_url = http://www.princeton.edu/genomics/sequencing/instructions/data-analysis/
static_enabled = False
apache_xsendfile = True
upstream_gzip = False
log_level = {{ log_level }}
serve_xss_vulnerable_mimetypes = True
debug = {{ debug }}
use_interactive = {{ use_interactive }}
allow_path_paste = True
id_secret = {{ id_secret }}
use_remote_user = True
remote_user_maildomain = princeton.edu
remote_user_logout_href = https://fed.princeton.edu/cas/logout
admin_users = jwiggins@princeton.edu,lparsons@princeton.edu,jcmatese@princeton.edu,rleach@princeton.edu
require_login = True
allow_user_creation = False
allow_user_deletion = True
allow_user_impersonation = True
allow_user_dataset_purge = True
enable_quotas = True
tool_search_limit = 40

[galaxy_amqp]
