<?xml version="1.0"?>
{% if env != 'production' %}
<job_conf>
    <plugins>
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner" workers="4"/>
    </plugins>
    <handlers default="handlers">
        <handler id="handler0" tags="handlers"/>
        <handler id="handler1" tags="handlers"/>
    </handlers>
    <destinations>
        <destination id="local" runner="local"/>
    </destinations>
</job_conf>
{% else %}
<job_conf>
    <plugins workers="10">
        <!-- "workers" is the number of threads for the runner's work queue.
             The default from <plugins> is used if not defined for a <plugin>.
          -->
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="internalexception_retries">5</param>
        </plugin>
    </plugins>
    <handlers default="handlers">
        <!-- Additional job handlers - the id should match the name of a
             [server:<id>] in universe_wsgi.ini.
         -->
        <handler id="handler0" tags="handlers"/>
        <handler id="handler1" tags="handlers"/>
    </handlers>
    <destinations default="cetus_singlecore">
        <!-- Destinations define details about remote resources and how jobs
             should be executed on those remote resources.
         -->
        <destination id="local" runner="local"/>
        <destination id="cetus_singlecore" runner="slurm">
            <param id="nativeSpecification">--mem=10000 -p prod</param>
        </destination>
        <destination id="dtd_destination" runner="dynamic">
            <param id="type">dtd</param>
        \</destination>
        <destination id="cetus_singlecore_mediummem" runner="slurm">
            <param id="nativeSpecification">--mem=50000 -p prod</param>
            <env id="_JAVA_OPTIONS">-Xms5G -Xmx50G</env>
        </destination>
        <destination id="cetus_singlecore_highmem" runner="slurm">
            <param id="nativeSpecification">--mem=100000 -p prod</param>
        </destination>
        <destination id="cetus_singlecore_vhighmem" runner="slurm">
            <param id="nativeSpecification">--mem=200000 -p prod</param>
        </destination>
        <destination id="cetus_singlecore_1wk" runner="slurm">
            <param id="nativeSpecification">--mem=10000 --qos=1wk</param>
        </destination>
         <destination id="cetus_multicore" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=6 --mem=60000 -p prod</param>
        </destination>
        <destination id="cetus_multicore_mediummem" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=6 --mem=114000 -p prod</param>
            <env id="_JAVA_OPTIONS">-Xms10G -Xmx100G</env>
        </destination>
        <destination id="cetus_multicore_highmem" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=12 --mem=228000 -p prod</param>
        </destination>
        <destination id="cetus_multicore_highmem_1wk" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=15 --mem=285000 --qos=1wk</param>
        </destination>
        <destination id="cetus_fullnode_1day" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=20 --mem=380000 --qos=1day</param>
        </destination>
        <destination id="cetus_fullnode_1wk" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=20 --mem=380000 --qos=1wk</param>
        </destination>
        <destination id="cetus_fullnode_long" runner="slurm">
            <param id="nativeSpecification">-N 1-1 --ntasks=20 --mem=380000 --qos=long</param>
        </destination>
        <destination id="bowtie2_dynamic" runner="dynamic">
            <param id="type">python</param>
            <param id="function">bowtie2_dynamic_destination</param>
        </destination>
    </destinations>
    <limits>
        <!-- Certain limits can be defined. -->
        <!-- <limit type="registered_user_concurrent_jobs">4</limit> -->
        <!-- <limit type="anonymous_user_concurrent_jobs">1</limit> -->
    </limits>
    <tools>
        <tool id="upload1" destination="local"/>
        <tool id="pbsdebug" destination="cetus_multicore"/>
        <tool id="princeton_htseq" destination="cetus_singlecore_mediummem"/>
        <tool id="cshl_princeton_fastx_barcode_splitter" destination="cetus_singlecore_mediummem"/>
        <tool id="mosaik" destination="cetus_multicore"/>
        <tool id="bfast_wrapper" destination="cetus_multicore"/>
        <tool id="sambamba_filter" destination="cetus_multicore"/>
        <tool id="deeptools_bamCompare" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bamCorrelate" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bamCoverage" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bamFingerprint" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bamPEFragmentSize" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bigwigCompare" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bigwigCorrelate" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_computeGCBias" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_computeMatrix" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_correctGCBias" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_heatmapper" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_profiler" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bam_compare" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bam_coverage" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bam_pe_fragmentsize" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_bigwig_compare" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_compute_gc_bias" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_compute_matrix" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_correct_gc_bias" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_multi_bam_summary" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_multi_bigwig_summary" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_plot_coverage" destination="cetus_multicore_mediummem"/>
        <tool id="deeptools_plot_fingerprint" destination="cetus_multicore_mediummem"/>
        <tool id="realigner_target_creator" destination="cetus_multicore_mediummem"/>
        <tool id="bowtie_wrapper" destination="cetus_multicore_mediummem"/>
        <tool id="bowtie_color_wrapper" destination="cetus_multicore_mediummem"/>
        <tool id="tophat" destination="cetus_multicore_mediummem"/>
        <tool id="tophat2" destination="cetus_multicore_mediummem"/>
        <tool id="bowtie2" destination="bowtie2_dynamic"/>
        <tool id="cufflinks" destination="cetus_multicore_mediummem"/>
        <tool id="cuffnorm" destination="cetus_multicore_mediummem"/>
        <tool id="cufkfdiff" destination="cetus_multicore_mediummem"/>
        <tool id="cuffmerge" destination="cetus_multicore_mediummem"/>
        <tool id="cuffquant" destination="cetus_multicore_mediummem"/>
        <tool id="lastz" destination="cetus_multicore_mediummem"/>
        <tool id="ncbi_blast_plus" destination="cetus_multicore_mediummem"/>
        <tool id="bwa" destination="cetus_multicore_mediummem"/>
        <tool id="bwa_mem" destination="cetus_multicore_mediummem"/>
        <tool id="bwa_wrappers" destination="cetus_multicore_mediummem"/>
        <tool id="bwa_wrapper_princeton" destination="cetus_multicore_mediummem"/>
        <tool id="unified_genotyper" destination="cetus_multicore_mediummem"/>
        <tool id="realigner_target_creator" destination="cetus_multicore_mediummem"/>
        <tool id="megablast_wrapper" destination="cetus_multicore_mediummem"/>
        <tool id="freebayes" destination="cetus_multicore_highmem"/>
        <tool id="fastqc" destination="cetus_singlecore_mediummem"/>
        <tool id="rseqc_read_distribution" destination="cetus_singlecore_highmem"/>
        <tool id="rseqc_geneBody_coverage" destination="cetus_singlecore_1wk"/>
        <tool id="fastq_paired_end_joiner" destination="cetus_singlecore_mediummem"/>
        <tool id="CONVERTER_bedgraph_to_bigwig" destination="cetus_singlecore_mediummem"/>
        <tool id="CONVERTER_gff_to_interval_index_0" destination="cetus_singlecore_mediummem"/>
        <tool id="wig_to_bigWig" destination="cetus_singlecore_highmem"/>
        <tool id="trinity" destination="dtd_destination"/>
        <tool id="align_and_estimate_abundance" destination="cetus_multicore_mediummem"/>
        <tool id="trinity_align_and_estimate_abundance" destination="cetus_multicore_mediummem"/>
        <tool id="macs2_callpeak" destination="cetus_singlecore_mediummem"/>
        <tool id="peakcalling_ccat" destination="cetus_singlecore_mediummem"/>
        <tool id="pilon" destination="cetus_multicore_mediummem"/>
        <tool id="picard_SamToFastq" destination="cetus_singlecore_mediummem"/>
        <tool id="salmon" destination="cetus_multicore_highmem"/>
        <tool id="rna_star" destination="cetus_multicore_highmem"/>
        <tool id="hisat2" destination="cetus_multicore_mediummem"/>
        <tool id="featurecounts" destination="cetus_multicore"/>
        <tool id="spades" destination="dtd_destination"/>
        <tool id="quast" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_blastn_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_blastp_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_blastx_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_deltablast_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_psiblast_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_rpsblast_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_tblastn_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="ncbi_tblastx_wrapper" destination="cetus_multicore_highmem"/>
        <tool id="quast" destination="cetus_multicore"/>
        <tool id="flash" destination="cetus_multicore"/>
        <tool id="bowtie_mapper" destination="cetus_multicore_mediummem"/>
        <tool id="busco" destination="cetus_multicore"/>
        <tool id="unicycler" destination="dtd_destination"/>
        <tool id="rna_star_index_builder_data_manager" destination="dtd_destination"/>
        <tool id="dexseq" destination="cetus_singlecore_mediummem" />
        <tool id="svtyper" destination="cetus_singlecore_mediummem" />
        <tool id="peakachu" destination="cetus_singlecore_mediummem" />
        <tool id="piranha" destination="dtd_destination" />
        <tool id="bwameth" destination="cetus_multicore" />
        <tool id="paralyzer" destination="cetus_singlecore_mediummem" />
    </tools>
</job_conf>
{% endif %}
