<?xml version='1.0' encoding='utf-8'?>
<toolbox>
  <label id="Data" text="Get and Send Data" />
  <section id="getext" name="Get Data">
    <tool file="data_source/upload.xml" />
    <tool file="data_source/htseq.xml" />
    {% if env == 'development' %}
        <tool file="data_source/htseq_dev.xml" />
    {% endif %}
    <tool file="data_source/ucsc_tablebrowser.xml" />
    {% if env == 'development' %}
        <tool file="data_source/ucsc_tablebrowser_test.xml" />
    {% endif %}
    <tool file="data_source/ucsc_tablebrowser_archaea.xml" />
    <tool file="data_source/ebi_sra.xml" />
    <tool file="data_source/microbial_import.xml" />
    <tool file="data_source/biomart.xml" />
    {% if env == 'development' %}
        <tool file="data_source/biomart_test.xml" />
    {% endif %}
    <tool file="data_source/cbi_rice_mart.xml" />
    <tool file="data_source/gramene_mart.xml" />
    <tool file="data_source/fly_modencode.xml" />
    <tool file="data_source/worm_modencode.xml" />
    <tool file="data_source/intermine.xml" />
    <tool file="data_source/wormbase.xml" />
    {% if env == 'development' %}
        <tool file="data_source/wormbase_test.xml" />
    {% endif %}
    <tool file="data_source/eupathdb.xml" />
    <tool file="data_source/hbvar.xml" />
    <tool file="genomespace/genomespace_file_browser_prod.xml" />
    <tool file="genomespace/genomespace_importer.xml" />
    <tool file="validation/fix_errors.xml" />
  </section>
  <section id="send" name="Send Data">
    <tool file="export_to_cluster/export_to_cluster.xml" />
    <tool file="cloud/send.xml" />
    <tool file="genomespace/genomespace_exporter.xml" />
  </section>

  <section id="collection_operations" name="Collection Operations">
    <tool file="${model_tools_path}/unzip_collection.xml" />
    <tool file="${model_tools_path}/zip_collection.xml" />
    <tool file="${model_tools_path}/filter_failed_collection.xml" />
    <tool file="${model_tools_path}/filter_empty_collection.xml" />
    <tool file="${model_tools_path}/flatten_collection.xml" />
    <tool file="${model_tools_path}/merge_collection.xml" />
    <tool file="${model_tools_path}/relabel_from_file.xml" />
    <tool file="${model_tools_path}/filter_from_file.xml" />
    <tool file="${model_tools_path}/sort_collection_list.xml" />
    <tool file="${model_tools_path}/tag_collection_from_file.xml" />
    <tool file="${model_tools_path}/apply_rules.xml" />
    <tool file="${model_tools_path}/build_list.xml" />
    <tool file="${model_tools_path}/extract_dataset.xml" />j
  </section>

  <label id="HTSeq" text="High Throughput Sequencing" />
  <section id="NGS_QC" name="HTS: FASTQ Manipulation and QC">
    <tool file="next_gen_conversion/solid2fastq.xml" />
    <tool file="solid_tools/solid_qual_stats.xml" />
  </section>
  <section id="HTS_Simulation" name="HTS: Simulation">
    <tool file="ngs_simulation/ngs_simulation.xml" />
  </section>
  <section id="solexa_tools" name="HTS: Mapping">
    <tool file="sr_mapping/bwa_wrapper_princeton.xml" />
    <tool file="sr_mapping/srma_wrapper.xml" />
  </section>
  <section id="samtools" name="HTS: SAM/BAM Manipulation"> </section>
  <section id="picard_beta" name="HTS: Picard (Stats and QC)"> </section>
  <section id="hts:_deeptools_(qc)" name="HTS: deepTools (QC)" version=""></section>
  <section id="ngs:_rna-seq_qc" name="HTS: RNA-Seq QC" version=""> </section>
  <section id="hts:_multiqc_summary_report" name="HTS: MultiQC Summary Report" version=""> </section>
  <section id="ngs-rna-tools" name="HTS: RNA-Seq Analysis"> </section>
  <section id="peak_calling" name="HTS: Peakcalling (ChIP-Seq)"> </section>
  <section id="gatk" name="HTS: GATK - Genome Analysis Toolkit"> </section>
  <section id="hts:_de_novo_assembly" name="HTS: de novo Assembly" version=""> </section>

  <label id="Variant_Analysis" text="Variant Analysis" />
  <section id="variant_detection" name="Variant Detection and Analysis">
    <tool file="freebayes/freebayes.xml" />
    <tool file="evolution/codingSnps.xml" />
  </section>
  <section id="vcf_tools" name="VCFTools: VCF Manipulation"> </section>
  <section id="bcftools:_vcf/bcf_manipulation" name="BCFTools: VCF/BCF Manipulation" version=""> </section>
  <section id="snpsift:_filter_and_manipulate_annotated_vcf_files" name="SNPSift: Filter and manipulate annotated VCF files"> </section>
  <section id="snpeff:_snp_effect_predictor" name="SNPEff: SNP Effect Predictor"> </section>
  <section id="cloudmap:_analysis_of_mutant_genome_sequences" name="CloudMap: Analysis of Mutant Genome Sequences"> </section>
  <section id="hyphy" name="Evolution"> </section>
  <section id="Genomic_Diversity" name="Genomic Diversity"> </section>
  <section id="hgv" name="Phenotype Association">
    <tool file="evolution/codingSnps.xml" />
    <tool file="evolution/add_scores.xml" />
    <tool file="phenotype_association/sift.xml" />
    <tool file="phenotype_association/linkToGProfile.xml" />
    <tool file="phenotype_association/linkToDavid.xml" />
    <tool file="phenotype_association/ldtools.xml" />
    <!--
    <tool file="phenotype_association/pass.xml" />
    <tool file="phenotype_association/gpass.xml" />
    <tool file="phenotype_association/beam.xml" />
    <tool file="phenotype_association/lps.xml" />
    -->
    <tool file="phenotype_association/master2pg.xml" />
  </section>

  <label id="Genomic_Annotation_Analysis" text="Genomic Annotation Analysis" />
  <section id="bxops" name="Operate on Genomic Intervals" version="">
    <tool file="filters/wiggle_to_simple.xml" />
    <tool file="stats/aggregate_binned_scores_in_intervals.xml" />
    <tool file="filters/ucsc_gene_bed_to_exon_bed.xml" />
  </section>
  <section id="bedtools" name="BEDTools"> </section>
  <section id="liftOver" name="Lift-Over">
    <tool file="extract/liftOver_wrapper.xml" />
  </section>
  <section id="fetchAlignSeq" name="Fetch Alignments/Sequences">
    <tool file="extract/extract_genomic_dna.xml" />
    <tool file="maf/interval2maf_pairwise.xml" />
    <tool file="maf/interval2maf.xml" />
    <tool file="maf/maf_split_by_species.xml" />
    <tool file="maf/interval_maf_to_merged_fasta.xml" />
    <tool file="maf/genebed_maf_to_fasta.xml" />
    <tool file="maf/maf_stats.xml" />
    <tool file="maf/maf_thread_for_species.xml" />
    <tool file="maf/maf_limit_to_species.xml" />
    <tool file="maf/maf_limit_size.xml" />
    <tool file="maf/maf_by_block_number.xml" />
    <tool file="maf/maf_reverse_complement.xml" />
    <tool file="maf/maf_filter.xml" />
  </section>
  <section id="regVar" name="Regional Variation"> </section>

  <label id="sequence_analysis" text="Sequence Analysis" />
  <section id="fasta_manipulation" name="FASTA Manipulation"> </section>
  <section id="clustal" name="Multiple Alignments"> </section>
  <section id="motifs" name="Motif Tools">
    <tool file="meme/meme.xml" />
    <tool file="meme/fimo.xml" />
  </section>
  <section id="ncbi_blast_plus_tools" name="NCBI BLAST+" version=""> </section>
  <section id="emboss" name="EMBOSS" version=""> </section>

  <label id="metagenomics" text="Metagenomics" />
  <section id="tax_manipulation" name="Metagenomic Analysis"> </section>

  <label id="metagenomics" text="Metagenomics" />

  <label id="statistics" text="Statistics" />
  <section id="stats" name="Statistics">
    <tool file="stats/gsummary.xml" />
    <tool file="filters/uniq.xml" />
  </section>
  <section id="multReg" name="Multiple Regression"> </section>
  <section id="multVar" name="Multivariate Analysis"> </section>

  <label id="visualization" text="Visualization" />
  <section id="plots" name="Graph/Display Data">
    <tool file="plotting/bar_chart.xml" />
    <tool file="plotting/boxplot.xml" />
    <tool file="visualization/LAJ.xml" />
    <tool file="maf/vcf_to_maf_customtrack.xml" />
    <tool file="mutation/visualize.xml" />
  </section>

  <label id="miscellaneous_utilities" text="Miscellaneous Utilties" />
  <section id="textutil" name="Text Manipulation">
    <tool file="filters/fixedValueColumn.xml" />
    <tool file="filters/catWrapper.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/mergeCols.xml" />
    <tool file="filters/convert_characters.xml" />
    <tool file="filters/CreateInterval.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/changeCase.xml" />
    <tool file="filters/pasteWrapper.xml" />
    <tool file="filters/remove_beginning.xml" />
    <tool file="filters/randomlines.xml" />
    <tool file="filters/headWrapper.xml" />
    <tool file="filters/tailWrapper.xml" />
    <tool file="filters/trimmer.xml" />
    <tool file="filters/wc_gnu.xml" />
    <tool file="filters/secure_hash_message_digest.xml" />
    </section>
  <section id="filter" name="Filter and Sort">
    <tool file="stats/filtering.xml" />
    <tool file="filters/sorter.xml" />
    <tool file="filters/grep.xml" />
    <label id="gff" text="GFF" />
    <tool file="filters/gff/extract_GFF_Features.xml" />
    <tool file="filters/gff/gff_filter_by_attribute.xml" />
    <tool file="filters/gff/gff_filter_by_feature_count.xml" />
    <tool file="filters/gff/gtf_filter_by_attribute_values_list.xml" />
  </section>
  <section id="group" name="Join, Subtract and Group">
    <tool file="filters/joiner.xml" />
    <tool file="filters/compare.xml" />
    <tool file="stats/grouping.xml" />
  </section>
  <section id="datamash" name="Datamash" />
  <section id="convert" name="Convert Formats">
    <tool file="filters/bed2gff.xml" />
    <tool file="filters/gff2bed.xml" />
    <tool file="maf/maf_to_bed.xml" />
    <tool file="maf/maf_to_interval.xml" />
    <tool file="maf/maf_to_fasta.xml" />
    <!-- sff_extract binary not installed
    <tool file="filters/sff_extractor.xml" />
    -->
    <tool file="filters/wig_to_bigwig.xml" />
    <tool file="filters/bed_to_bigbed.xml" />
    <tool file="filters/axt_to_concat_fasta.xml" hidden="True"/>
    <tool file="filters/axt_to_fasta.xml" hidden="True"/>
    <tool file="filters/axt_to_lav.xml" hidden="True"/>
    <tool file="filters/lav_to_bed.xml" hidden="True"/>
    <tool file="filters/gtf2bedgraph.xml" hidden="True"/>
    <tool file="bam_to_bigwig/bam_to_bigwig.xml" hidden="True"/>
  </section>

  {% if env != 'production' %}
  <section id="debug" name="DEBUG">
      <tool file="pbsdebug/pbsdebug.xml" />
  </section>
  {% endif %}

</toolbox>
